.sidebar {
  background-color: #13334a;
  .sidebar-head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 0.7em;
    /* padding-left: 2em; */
    height: 73px;
    background-color: #1112;
    margin-bottom: 6px;

    position: relative;

    h1#logo {
      color: #fff;
      font-weight: 600;
      padding-left: 1.4em;
      letter-spacing: 3px;
      white-space: nowrap;

      display: flex;
      align-items: center;
      height: 73px;

      cursor: pointer;
    }
    img {
      z-index: 999;

      font-size: 1em;
      filter: invert(100%) sepia(1%) saturate(79%) hue-rotate(148deg) brightness(118%) contrast(100%);
      background-color: #fff1;
      height: 6.5em;
      width: 6.5em;
      padding: 2.3em;
      cursor: pointer;

      position: absolute;
      top: 0;
      right: 0;
    }
  }

  .menu-items {
    height: 100%;
  }
  .menu-item_icon {
    height: 1.3em;
    line-height: 1.3em;
    /* width: 16px !important; */
    display: flex;
    justify-content: center;
    padding: 1px;
    min-width: 16px;
    flex: 0 0 0;

    transform: scale(1.5);
  }

  .menu-item_text {
    /* padding-right: 2em; */
    white-space: nowrap;
  }
}
