.topbar {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  /* padding: 1.1em; */
  padding: 0.6em 1.1em;
  background-color: #eefa;
  z-index: 3;
  // border-bottom: 1px solid #0002;

  /* box-shadow: 0px 0px 10px #0002; */

  button svg {
    fill: #bcbccb;
    height: 1.2em;
    line-height: 1.3em;
  }

  .settings-icon svg {
    margin-right: 3px;
  }
  .notification-icon {
    position: relative;
  }
  .notification-dot {
    content: '';
    position: absolute;
    top: -2px;
    right: 0;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    border: 1px solid #f5f5f5;
    background-color: #ffc06a;
  }

  button:focus svg,
  button:hover svg {
    // filter: invert(53%) sepia(6%) saturate(11%) hue-rotate(320deg) brightness(80%) contrast(96%);
    fill: #ffc06a;
  }

  .topbar_icons {
    // border-right: 1px solid #0001;
    /* padding-right: 1.2em; */

    height: 100%;
    display: flex;
    align-items: center;
    gap: 1.4em;
    margin-right: 1em;
  }

  .user {
    font-size: 14px;
    border-left: 1px solid #0001;
    padding-left: 1.2em;

    color: #666;
    display: flex;
    align-items: center;
    gap: 0.8em;

    &:hover {
      color: #000;
      cursor: pointer;
    }
    .user_avatar {
      background-color: #444;
      background-image: url('../../../assets/avatars/mock-avatar.jpeg');
      background-repeat: no-repeat;
      background-size: 38px;
      vertical-align: middle;
      height: 38px;
      width: 38px;
      border-radius: 50px;
    }
  }
}
